{{- define "title" -}}Audit Accessibilité {{ (index (split .Path "/") 1) }}{{- end -}}
{{- define "main" -}}
{{/* Vars */}}
{{- $patharray :=  split .Path "/" -}}
{{- $project :=  (index $patharray 1) -}}
{{- $context := . -}}
{{- $.Scratch.Set "guideline" "rgaa4.1" -}}
{{- with .Params.accessibility.guidelines -}}{{- $.Scratch.Set "guideline" (replace (. | urlize) "-" "") -}}{{- end -}}
{{- $.Scratch.Set "criteresfile" (index $.Site.Data ($.Scratch.Get "guideline")).criteres.topics -}}
{{- $.Scratch.Set "glossaire" (printf "=\"/%s/glossaire/#" ($.Scratch.Get "guideline")) -}}
{{- $.Scratch.Set "pageslist" "" -}}
{{- $.Scratch.Set "scores" "" -}}

{{- $.Scratch.Set "projectfolders" "" -}}
{{- if eq (len $patharray) 3 -}}
  {{- $.Scratch.Set "projectfolders" $project -}}
{{- end -}}
{{- $pathimage := printf "./static/images/%s/" ($.Scratch.Get "projectfolders") }}
{{- $audits := partial "render/accessibility-lastfile.html" (dict "context" $context "project" ($.Scratch.Get "projectfolders") "datafilename" .Params.datafilename) -}}
{{- $.Scratch.Set "auditpath-csv" (index ($audits) "auditpath") -}}

<div class="wrapper narrow audit">

{{- if ($.Scratch.Get "auditpath-csv") -}}

{{- $.Scratch.Set "auditfile-csv" (getCSV "," ($.Scratch.Get "auditpath-csv")) -}}
{{- $.Scratch.Set "scores" (partialCached "render/conformity" (dict "context" $context "auditfile" ($.Scratch.Get "auditfile-csv")) .Path) -}}
{{- $.Scratch.Set "date" (time (string (delimit (last 1 (sort (index $audits "auditallname"))) ""))) -}}

{{- if eq (len (split .Path "/")) 3 -}}
<p class="no-print">⬅ <a href="/projects/{{ ($.Scratch.Get "projectfolders") }}/" class="link-more link-back">Retour à la page projet</a></p>
{{- end -}}
<h1>{{ with .Title }}{{ . }}{{ else }}Audit Accessibilité{{ end }}</h1>

{{- if gt (len .Content) 10 -}}
<div class="note">
{{- partial "elements/content.html" .Content -}}
</div>
{{- end -}}

{{- if and ($.Scratch.Get "auditfile-csv") ($.Scratch.Get "scores") -}}

{{/* Create an array with all pages */}}
{{- $.Scratch.Set "pageslist" ((index ($.Scratch.Get "auditfile-csv") 0) | symdiff (slice "Thématiques" "Critères" "Tests")) -}}
{{/* Call score components */}}
{{- $auditquick := index .Site.Data.tests "25" -}}
{{- $auditcomplementary := index .Site.Data.tests "50" -}}
{{/* Control which test are made with quickaudit */}}
{{- $.Scratch.Set "criterecontrolquick" slice -}}
{{- $.Scratch.Set "criterecontrolcomplementary" slice -}}
{{- $.Scratch.Set "criterecontroltotal" slice -}}
{{- $.Scratch.Set "criterecontroltotalid" slice -}}
{{- range $id, $criterium := $auditquick -}}
  {{- range $key, $value := (index ($.Scratch.Get "scores") "criteretotal") -}}
    {{- if eq $criterium $key -}}{{ $.Scratch.Add "criterecontrolquick" $key }}{{- end -}}
  {{- end -}}
{{- end -}}
{{- range $id, $criterium := $auditcomplementary -}}
  {{- range $key, $value := (index ($.Scratch.Get "scores") "criteretotal") -}}
    {{- if eq $criterium $key -}}{{ $.Scratch.Add "criterecontrolcomplementary" $key }}{{- end -}}
  {{- end -}}
{{- end -}}
{{- range $id, $criterium := (index ($.Scratch.Get "scores") "criteretotal") -}}
  {{ $.Scratch.Add "criterecontroltotalid" $id }}
  {{- range $key, $value := (index ($.Scratch.Get "scores") "critereconforme") -}}{{- if eq $id $key -}}{{ $.Scratch.Add "criterecontroltotal" $key }}{{- end -}}{{- end -}}
  {{- range $key, $value := (index ($.Scratch.Get "scores") "criterenonapplicable") -}}{{- if eq $id $key -}}{{ $.Scratch.Add "criterecontroltotal" $key }}{{- end -}}{{- end -}}
  {{- range $key, $value := (index ($.Scratch.Get "scores") "criterenonconforme") -}}{{- if eq $id $key -}}{{ $.Scratch.Add "criterecontroltotal" $key }}{{- end -}}{{- end -}}
{{- end -}}

<h2 class="text-center">Scores{{- with (index ($.Scratch.Get "scores") "criteretotal") -}}&nbsp;-&nbsp;{{- len . -}}&nbsp;critères<span class="hide">{{ $.Scratch.Get "criterecontrolquick" | symdiff $auditquick }} - {{ $.Scratch.Get "criterecontrolcomplementary" | symdiff $auditcomplementary }}</span>{{ end }}</h2>
<time class="text-center" datetime="{{ ($.Scratch.Get "date").Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">Le {{ ($.Scratch.Get "date").Day }} {{ index $.Site.Data.month (printf "%d" ($.Scratch.Get "date").Month) }} {{ ($.Scratch.Get "date").Year }}</time>
<h3>Conformité globale selon les critères</h3>
{{/* Call accessibility partial */}}
{{- partial "components/scores/accessibility" (dict "context" . "score" (index ($.Scratch.Get "scores") "critereconformepercent")) -}}
{{/* Call criterium partial */}}
{{- partial "components/scores/criterium" (dict "context" . "criteres" ($.Scratch.Get "scores")) -}}
{{/* If serveral pages tested */}}
{{- if gt (len ($.Scratch.Get "pageslist")) 1 -}}
<h3 class="mb-0">Conformité détaillée de répartition</h3>
{{- partial "components/scores/accessibility-graph-csv" (dict "context" . "auditfile" ($.Scratch.Get "auditfile-csv") "scores" ($.Scratch.Get "scores")) -}}

{{/* Call page parameters */}}
{{- with .Params.accessibility -}}
<h2>Contexte</h2>
<p>
  <strong>Version du référentiel&nbsp;: </strong>{{ .guidelines }}<br>
  <strong>Technologies utilisées sur le site&nbsp;: </strong>{{ delimit .technologies ", " }}<br>
  <strong>Outils pour réaliser l’audit&nbsp;: </strong>{{ delimit .tools ", " }}<br>
  <strong>Environnement de test&nbsp;: </strong>{{ delimit .environment ", " }}<br>
</p>
{{- end -}}

<hr>

{{/* If several pages tested */}}

<h2>Liste des pages auditées</h2>

{{/* Create a anchors menu */}}
<div class="tableofcontents">
  <h3>Accéder aux pages auditées</h3>
  <ul>
    <li><a href="#pagesall">Erreurs sur toutes les pages</a></li>
    {{/* Loop all pages for anchor navigation */}}
    {{- range $id, $value := $.Scratch.Get "pageslist" -}}
    <li><a href="#{{ . | urlize }}">{{ . }}</a></li>
    {{- end -}}
  </ul>
</div>
{{- end -}}

<h2>Par ordre des critères du référentiel RGAA</h2>

{{- if gt (len ($.Scratch.Get "pageslist")) 0 -}}
{{/* Range map errors sort by RGAA order - on all pages */}}
<h3 id="pagesall">A - Anomalies présentes sur toutes les pages</h3>
{{- end -}}
{{- $.Scratch.Set "counterallpages" 0 -}}
{{- range $key, $value := after 1 ($.Scratch.Get "auditfile-csv") -}}
  {{ $content := delimit (uniq (after 3 .)) "" }}
  {{- $condcontentlen := gt (len $content) 2 -}}
  {{- $condcontentnc := (eq $content "nc") -}}
  {{- $condcontentc := (eq $content "c") -}}
  {{- $thematiques := index $value 0 -}}
  {{- $criteres := index $value 1 -}}
  {{- $tests := index $value 2 -}}
  {{ if eq (len (uniq (after 3 .))) 1 }}
  {{- range first 1 . -}}
    {{- if or $condcontentlen $condcontentnc -}}
    {{- $.Scratch.Set "counterallpages" 1 -}}
    <p class="mb-0"><strong>
      {{- if $condcontentc -}}{{ end }}{{ if or $condcontentnc $condcontentlen }}{{ end }}&nbsp;Test {{ $thematiques }}.{{ $criteres }}.{{ $tests}} <small>- {{ if $condcontentc }}Conforme{{ end }}{{ if or $condcontentnc $condcontentlen }}Non conforme{{ end }}</small>
      {{ if eq (upper (delimit (findRE "!(.*)!" $content) "")) "!F!" -}}<span class="badge good">Facile</span>{{- end -}}
      {{ if eq (upper (delimit (findRE "!(.*)!" $content) "")) "!M!" -}}<span class="badge medium">Modéré</span>{{- end -}}
      {{ if eq (upper (delimit (findRE "!(.*)!" $content) "")) "!D!" -}}<span class="badge bad">Difficile</span>{{- end -}}
    </strong></p>
    {{- if $condcontentlen }}<p class="m-0"><strong>{{ replace (replaceRE "!(.*)!" "" $content 1) "\n" "<br>" | markdownify }}</strong></p>{{ end }}
      {{- $s := where ($.Scratch.Get "criteresfile") "number" "eq" (int ($thematiques)) -}}
      {{- range $idx, $value := ((index (index $s 0).criteria (sub (int ($criteres)) 1)).criterium).tests -}}
        {{- if eq $idx (string ($tests)) -}}
        {{- if reflect.IsSlice . -}}
        <p><em>{{ (replaceRE "=\"#" ($.Scratch.Get "glossaire") ((index . 0) | markdownify) 100) | markdownify }}</em><br></p>
        {{- if (after 1 .) -}}
        <ol>
          {{ range after 1 . }}<li>{{ (replaceRE "=\"#" ($.Scratch.Get "glossaire") (. | markdownify) 100) | markdownify }}</li>{{ end }}
        </ol>
        {{- end -}}
        {{- else -}}
        <p><em>{{ (replaceRE "=\"#" ($.Scratch.Get "glossaire") (. | markdownify) 100) | markdownify }}</em></p>
        {{- end -}}
      {{- end -}}
    {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- end -}}
{{- end -}}
{{ if not ($.Scratch.Get "counterallpages") }}<p>Aucune erreur commune à toutes les pages.</p>{{ end }}

{{/* If serveral pages tested */}}
{{- if gt (len ($.Scratch.Get "pageslist")) 1 -}}

{{/* Range map errors sort by RGAA order - on specifics pages */}}
<h3>B - Anomalies présentes sur les pages spécifiques</h3>
{{/* Display errors presents on specific pages */}}
{{- range $id, $value := ($.Scratch.Get "pageslist") -}}
  {{- $.Scratch.Set "text" 0 -}}
  {{- $page := . -}}
  <h4 id="{{ . | urlize }}">‣ Page : {{ . }}</h4>
  {{- $.Scratch.Set "is-page-error" 0 -}}
  {{- range $key, $value := after 1 ($.Scratch.Get "auditfile-csv") -}}
  {{- if ne (len (uniq (after 3 .))) 1 -}}
    {{- $content := (string (index . (add $id 3))) -}}
    {{- $condcontentlen := gt (len $content) 2 -}}
    {{- $condcontentnc := (eq $content "nc") -}}
    {{- $condcontentc := (eq $content "c") -}}
    {{- $thematiques := index $value 0 -}}
    {{- $criteres := index $value 1 -}}
    {{- $tests := index $value 2 -}}
    {{- if or $condcontentlen $condcontentnc -}}
    {{- $.Scratch.Add "is-page-error" 1 -}}
        <p class="mb-0"><strong>
        {{- if $condcontentc -}}{{ end }}{{ if or $condcontentnc $condcontentlen }}{{ end }} {{ if ne $tests "0" }}Test{{ else }}Critère{{ end }} {{ $thematiques }}.{{ $criteres }}{{ if ne $tests "0" }}.{{ $tests }}{{ end }} <small>- {{ if $condcontentc }}Conforme{{ end }}{{ if or $condcontentnc $condcontentlen }}Non conforme{{ end }}</small>
        {{- if eq (upper (delimit (findRE "!(.*)!" $content) "")) "!F!" -}}<span class="badge d-none good">Facile</span>{{- end -}}
        {{- if eq (upper (delimit (findRE "!(.*)!" $content) "")) "!M!" -}}<span class="badge d-none medium">Modéré</span>{{- end -}}
        {{- if eq (upper (delimit (findRE "!(.*)!" $content) "")) "!D!" -}}<span class="badge d-none bad">Difficile</span>{{- end -}}
      </strong></p>
      {{- if $condcontentlen }}<p class="m-0"><strong>{{ replace (replaceRE "!(.*)!" "" $content 1) "\n" "<br>" | markdownify }}</strong></p>{{ end }}
        {{- $s := where ($.Scratch.Get "criteresfile") "number" "eq" (int ($thematiques)) -}}
        {{- range $idx, $value := ((index (index $s 0).criteria (sub (int ($criteres)) 1)).criterium).tests -}}
          {{- if eq $idx (string ($tests)) -}}
          {{- if reflect.IsSlice . -}}
          <p><em>{{ (replaceRE "=\"#" ($.Scratch.Get "glossaire") ((index . 0) | markdownify) 100) | markdownify }}</em><br></p>
          {{- if (after 1 .) -}}
          <ol>
            {{ range after 1 . }}<li>{{ (replaceRE "=\"#" ($.Scratch.Get "glossaire") (. | markdownify) 100) | markdownify }}</li>{{ end }}
          </ol>
          {{- end -}}
          {{- else -}}
          <p><em>{{ (replaceRE "=\"#" ($.Scratch.Get "glossaire") (. | markdownify) 100) | markdownify }}</em></p>
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- if eq ($.Scratch.Get "is-page-error") 0 -}}<p>Aucune erreur spécifique sur cette page.</p>{{- end -}}
{{- end -}}
{{- end -}}
{{- if gt (len ($.Scratch.Get "pageslist")) 0 -}}
<br><hr class="divider">
{{/* Range map errors sort by RGAA order - on all pages */}}
<h3 id="pagesall">Tous les critères non conformes du site</h3>
<div class="flex flex-column">
{{- range $key, $value := (index ($.Scratch.Get "scores") "criterenonconforme") -}}
  {{- $thematiques := index (split $key ".") 0 -}}
  {{- $criteres := index (split $key ".") 1 -}}
  <div style="order:{{ $thematiques }};">
  <p class="mb-0"><strong>Critère {{ $thematiques }}.{{ $criteres }}</strong></p>
  {{- $s := where ($.Scratch.Get "criteresfile") "number" "eq" (int (index (split $key ".") 0)) -}}
  {{- if ge (len $s) 1 -}}
    {{- $content := (index (index $s 0).criteria (sub (int ($criteres)) 1)).criterium.title -}}
    <em>{{ (replaceRE "=\"#" ($.Scratch.Get "glossaire") ($content | markdownify) 100) | markdownify }}</em></p>
  {{- end -}}
  </div>
{{- end -}}
</div>
{{- end -}}
{{- else -}}
  <p>Le fichier d’audit RGAA est vide pour le moment.</p>
{{- end -}}
{{- else -}}
  <p>Le fichier d’audit RGAA est manquant : `accessibility.csv`</p>
{{- end -}}
<hr>
{{- $.Scratch.Set "organisation" "" -}}
{{- if .Site.Params.organisation -}}{{- $.Scratch.Set "organisation" .Site.Params.organisation -}}{{- end -}}
{{- if .Params.accessibility.organisation -}}{{ $.Scratch.Set "organisation" .Params.accessibility.organisation }}{{ end }}
{{- $.Scratch.Set "strategy" "" -}}
{{- if .Site.Params.strategy -}}{{- $.Scratch.Set "strategy" .Site.Params.strategy -}}{{- end -}}
{{- if .Params.accessibility.strategy -}}{{ $.Scratch.Set "strategy" .Params.accessibility.strategy }}{{ end }}
{{- with .Params.accessibility -}}
<h1 id="declaration">Déclaration d’accessibilité RGAA</h1>
<section>
  {{- if ($.Scratch.Get "organisation") -}}
  <p>{{ with ($.Scratch.Get "organisation") }}{{ . }}{{ end }} s’engage à rendre ses sites internet, intranet, extranet et ses
    progiciels accessibles (et ses applications mobiles et mobilier urbain numérique) conformément à l’article 47 de la
    loi n°2005-102 du 11 février 2005.</p>
  {{- with $.Scratch.Get "strategy" -}}
  <p>À cette fin, elle met en œuvre la stratégie et les actions suivantes :</p>
  <ul>
    {{- with .schema -}}<li>Schéma pluriannuel de mise en accessibilité 2020-2022 : <a href="{{ . }}">Schéma pluriannuel</a></li>{{ end }}
    {{- with .actions -}}<li>Actions réalisées en 2019-2020 : <a href="{{ . }}">Actions réalisées</a></li>{{ end }}
    {{- with .plan -}}<li>Plan d’actions 2020-2021 : <a href="{{ . }}">Plan d’actions</a></li>{{ end }}
  </ul>
  {{- end -}}
  {{- with .website -}}<p>Cette déclaration d’accessibilité s’applique à {{ . }}.</p>{{ end }}
  {{- end -}}

  <h2>État de conformité</h2>
  <p>{{ with $.Scratch.Get "organisation" }}{{ . }}{{ end }}{{ with .website }}, {{ . }}{{ end }} est {{ if ($.Scratch.Get "scores") }}{{ if lt (index ($.Scratch.Get "scores") "critereconformepercent") 50 }}non{{ else if ge (index ($.Scratch.Get "scores") "critereconformepercent") 50 }}partiellement{{ else if eq (index ($.Scratch.Get "scores") "critereconformepercent") 100 }}totalement{{ end }}{{ end }} conforme
    avec le référentiel général d’amélioration de l’accessibilité (RGAA), version 4 en raison des non-conformités et des
    dérogations énumérées ci-dessous.</p>

  <h3>Résultats des tests</h3>
  {{- if ($.Scratch.Get "scores") -}}
  <p>L’audit de conformité par {{ with .condition }}{{ . }}{{ end }} révèle que :</p>
  <ul>
    {{ if ($.Scratch.Get "scores") }}<li>{{ (index ($.Scratch.Get "scores") "critereconformepercent") }}% des {{ with (index ($.Scratch.Get "scores") "criteretotal") }}{{ len . }} {{ end }}critères {{ with (index ($.Scratch.Get "scores") "criteretotal") }}testés {{ end }}du {{ with .guidelines }}{{ . }}{{ end }} sont respectés</li>{{ end }}
    <li class="hide">(Facultatif) Le taux moyen de conformité du site s’élève à <span class="tofill">nn%</span></li>
    {{- if ($.Scratch.Get "auditpath-csv") -}}<li> Accès à la grille d’audit RGAA : <a href="{{ replace ($.Scratch.Get "auditpath-csv") "static" "" }}">Télécharger la grille d’audit RGAA{{ with .website }} pour {{ . }}{{ end }}</a>{{- end -}}
    </li>
  </ul>
  {{- else -}}
  <p>Aucun test n’a été effectué, le site est donc non conforme.</p>
  {{- end -}}

  {{- with ($.Scratch.Get "scores") -}}
  <h2>Critères non conformes</h2>
  {{/* Range map errors sort by RGAA order - on all pages */}}
  <div class="flex flex-column">
  {{- range $key, $value := (index . "criterenonconforme") -}}
    {{- $thematiques := index (split $key ".") 0 -}}
    {{- $criteres := index (split $key ".") 1 -}}
    <div style="order:{{ $thematiques }};">
    <p><strong>Critère {{ $thematiques }}.{{ $criteres }}</strong><br>
    {{- $s := where ($.Scratch.Get "criteresfile") "number" "eq" (int (index (split $key ".") 0)) -}}
    {{- if ge (len $s) 1 -}}
    {{- $content := (index (index $s 0).criteria (sub (int ($criteres)) 1)).criterium.title -}}
    <em>{{ replaceRE "\\[(.*?)\\]\\(.*?\\)" "$1" $content | markdownify }}</em></p>
    {{- end -}}
  </div>
  {{- end -}}
  </div>

  <h2>Établissement de cette déclaration d’accessibilité</h2>
  {{ with .technologies }}
  <p>Cette déclaration a été établie le <time datetime="{{ ($.Scratch.Get "date").Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ ($.Scratch.Get "date").Day }} {{ index $.Site.Data.month (printf "%d" ($.Scratch.Get "date").Month) }} {{ ($.Scratch.Get "date").Year }}</time>.<span class="hide"> Elle a été mise à jour le JJ/MM/AAAA.</span></p>
  <h3>Technologies utilisées{{ with $.Scratch.Get "organisation" }} pour la réalisation de {{ . }}{{ end }}{{ with .website }}, {{ . }}{{ end }}</h3>
  <ul>
    {{- range $id, $value := .technologies -}}
    <li>{{ . }}</li>
    {{- end -}}
  </ul>
  {{- end -}}
  {{ with .environment }}
  <h3>Environnement de test</h3>
  <p>Les vérifications de restitution de contenus ont été réalisées sur la base de la combinaison fournie
    par la base de référence du RGAA, avec les versions suivantes :</p>
  <ul>
    {{- range $id, $value := . -}}
    <li>{{ . }}</li>
    {{- end -}}
  </ul>
  {{- end -}}
  {{ with .tools }}
  <h3>Outils pour évaluer l’accessibilité</h3>
  <ul>
    {{- range $id, $value := . -}}
    <li>{{ . }}</li>
    {{- end -}}
  </ul>
  {{- end -}}
  {{- with ($.Scratch.Get "pageslist") -}}
  <h3>Pages du site ayant fait l’objet de la vérification de conformité</h3>
  <ol>
    {{- range $id, $value := . -}}
    <li>{{ . }}</li>
    {{- end -}}
  </ol>
  {{- end -}}
  {{- end -}}

  <h2>Retour d’information et contact</h2>
  <p>Si vous n’arrivez pas à accéder à un contenu ou à un service, vous pouvez contacter le responsable de {{ with .organisation }}{{ . }}{{ end }}{{ with .website }}, {{ . }}{{ end }} pour être orienté vers une alternative accessible ou obtenir le contenu
    sous une autre forme.</p>
  {{ with .contact }}
  <ul>
    {{ if .email }}<li>Envoyer un message à <strong>{{ .email }}</strong></li>{{ end }}
    {{ if .address }}<li>Contacter <strong>{{ with ($.Scratch.Get "organisation") }}{{ . }}, {{ end }}{{ with .address }}{{ . }}{{ end }}</strong></li>{{ end }}
  </ul>
  {{ end }}
  <h2>Voies de recours</h2>
  <p>Cette procédure est à utiliser dans le cas suivant.</p>
  <p>Vous avez signalé au responsable du site internet un défaut d’accessibilité qui vous empêche d’accéder à un contenu
    ou à un des services du portail et vous n’avez pas obtenu de réponse satisfaisante.</p>
  <ul>
    <li><a href="https://formulaire.defenseurdesdroits.fr">Écrire un message au Défenseur des droits</a></li>
    <li><a href="https://www.defenseurdesdroits.fr/saisir/delegues">Contacter le délégué du Défenseur des droits dans
        votre région</a></li>
    <li>Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre)<br>
      Défenseur des droits<br>
      Libre réponse 71120<br>
      75342 Paris CEDEX 07<br></li>
  </ul>
</section>
</div>
{{- end -}}
{{- end -}}
