@charset 'utf-8';

/* CSS DIRECTORY
	1. =GLOBAL SETTINGS
  2. =HEADER & FOOTER
  3. =TYPOGRAPHY
	4. =LOGO
  5. =NAVIGATION
*/

/* GLOBAL SETTINGS
   ----------------------------- */

/* = Colors = */

:root {

  --base-font-name: 'Marianne';
  --title-font-name: 'Marianne';

  --base-primary: 215;
  --base-secondary: calc(var(--base-primary) + 125);

  --color-primary-verylight: hsl(var(--base-primary), var(--base-sat), calc(var(--base-light) + var(--shader) * 2));
  --color-primary-light: hsl(var(--base-primary), var(--base-sat), calc(var(--base-light) + var(--shader)));
  --color-primary: hsl(var(--base-primary), var(--base-sat), var(--base-light));
  --color-primary-dark: hsl(var(--base-primary), var(--base-sat), calc(var(--base-light) - var(--shader)));
  --color-primary-verydark: hsl(var(--base-primary), var(--base-sat), calc(var(--base-light) - var(--shader) * 2));

  --color-secondary-verylight: hsl(var(--base-secondary), var(--base-sat), calc(var(--base-light) + var(--shader) * 2));
  --color-secondary-light: hsl(var(--base-secondary), var(--base-sat), calc(var(--base-light) + var(--shader)));
  --color-secondary: hsl(var(--base-secondary), var(--base-sat), var(--base-light));
  --color-secondary-dark: hsl(var(--base-secondary), var(--base-sat), calc(var(--base-light) - var(--shader)));
  --color-secondary-verydark: hsl(var(--base-secondary), var(--base-sat), calc(var(--base-light) - var(--shader) * 2));

  --color-grey-verylight: #f8f9fa;
  --color-grey-light: #e9ecef;
  --color-grey: #868e96;
  --color-grey-dark: #343a40;
  --color-grey-verydark: #212529;

  --link-color: var(--color-primary);

  --background-color: var(--color-primary-dark);
  --text-color: var(--color-grey-verydark);
  --text-color-lighter: var(--color-grey);
  --title-color: #000000;
  --btn-bg--default: var(--color-primary);

  --background-color-body: #fff;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color-body: var(--color-grey-dark);
    --color-primary: var(--color-primary-light);
    --text-color: var(--color-grey-verylight);
    --text-color-lighter: var(--color-grey-light);
    --title-color: var(--color-grey-light);
    --link-color: var(--color-primary-light);
  }

  body {
    font-weight: 200;
  }

  strong, b, th, h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
  }

  /* img {
    filter: brightness(.8) contrast(1.2);
  } */
}

/* = Very basic styles = */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  box-sizing: border-box;
  word-spacing: 1px;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  color: var(--text-color, --color-grey-dark);
  background-color: var(--background-color-body, #fff);
}

/* = Error = */

body.error-page {
  color: #fff;
  background-color: var(--color-grey-dark);
  background-size: cover;
}

/* HEADER & FOOTER
   ----------------------------- */

/* = main = */

main {
  flex-grow: 1;
}

/* = header = */

header {
  margin-bottom: calc(var(--baseline) * 2);
  padding: 0 var(--baseline);
  border-bottom: 1px solid #dedede;
}

/* = section = */

section {
  margin: var(--baseline) auto 0;
  padding: var(--baseline) 0;
}

.section-dark {
  color: var(--background-color-body);
  background-color: var(--color-primary);
}

section h2,
section h3 {
  color: currentColor;
}

p+pre {
  margin-top: -1.5em;
}

h2 + time {
  display: block;
  margin: -1.5rem auto 3.5rem;
  width: 100%;
  font-size: 90%;
  color: var(--color-grey);
}

/* = Divider = */

.divider,
.divider:before {
  border-radius: 50% 50% 50% 50%/50% 50% 50% 50%;
}

.divider {
  background: transparent;
  max-width: 80%;
  height: 4em;
  margin: 0 auto var(--baseline);
  overflow: hidden;
  border: none;
}

.divider:before {
  position: relative;
  top: 82px;
  margin: 0 auto;
  width: 80%;
  height: 2em;
  box-shadow: var(--enable-shadows, 0 -3px 44px hsla(var(--base-primary), var(--base-sat), var(--base-light), .38));
  display: inline-block;
  content: "";
}

/* = Footer = */

footer {
  margin: var(--baseline) 0 0;
  padding: var(--baseline) var(--baseline) 0;
  text-align: center;
  color: var(--color-grey-verylight);
  background: var(--background-color);
}

/* TYPOGRAPHY
   ----------------------------- */

/* = Link = */

.anchor {
  position: relative;
  margin-left: -21px;
  margin-right: 5px;
  color: var(--text-color);
  scroll-margin-top: 100px;
}

.anchor svg {
  fill: var(--text-color);
}

.link-more {
  display: inline;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-repeat: no-repeat;
  text-decoration: underline;
  font-weight: 600;
  color: var(--text-color);
  will-change: background-size;
  transition: background-size .3s ease-in-out;
  background-size: 0 100%;
  background-image: linear-gradient(transparent calc(100% - 16%), var(--color-primary) calc(100% - 16%), var(--color-primary) calc(100% - 2%), transparent 2%);
}

.link-more:hover {
  background-size: 100% 100%;
}

.link-back {
  text-transform: unset;
}

/* Placeholder */

::-moz-placeholder {
  opacity: 1;
  color: var(--color-grey);
}

::-webkit-input-placeholder {
  color: var(--color-grey);
}

h1+time,
h3+time {
  display: block;
  margin-top: -1.5rem;
}

.note {
  margin-bottom: var(--baseline);
  padding: var(--baseline) var(--baseline) 1px;
  font-size: var(--smaller);
  color: var(--color-grey-verydark);
  background: var(--color-primary-verylight);
}

.note p,.note ul {
  margin-bottom: calc(var(--baseline) /2 );
}

/* LOGO
   ----------------------------- */

.site-title small {
  display: block;
  font-size: 40%;
  font-family: var(--base-font);
  color: var(--color-primary-verylight);
}

.site-logo {
  margin: 0.5em;
  padding: 0.2em 0.5em;
  color: var(--color-primary-dark);
  background: #fff;
  border-radius: 50px;
  font-weight: 900;
  transition: all 0.5s ease;
  font-family: Futura;
}

.site-logo:hover {
  color: var(--color-primary-verydark);
  background: var(--color-primary-verylight);
  text-decoration: none;
}

/* NAVIGATION
   ----------------------------- */

.nav {
  font-size: var(--smaller);
}

.nav h2,
.nav h3 {
  margin: calc(var(--baseline) / 2) 0 0;
  padding: 0;
}

.nav p {
  margin: 0;
  font-weight: bold;
}

.nav li {
  margin: calc(var(--baseline) / 2) calc(var(--baseline) / 4) calc(var(--baseline) / 2) 0;
}

.nav a {
  color: currentColor;
  border-bottom: 2px solid transparent;
}

.nav a:hover {
  text-decoration: none;
}

/* = Nav main = */

.nav-main ul {
  display: flex;
  justify-content: flex-end;
}

.nav-main a {
  display: block;
  padding: 0 calc(var(--baseline) / 2) 0;
  text-decoration: none;
}

.nav-main a:hover {
  text-decoration: none;
  border-bottom: 2px solid var(--color-grey-verylight);
}

.nav-main [aria-current] {
  border-bottom: 2px solid var(--color-grey-verylight);
  color: var(--color-grey-veryligh);
}

/* = Nav footer = */

.nav-footer {
  margin: auto;
  text-align: center;
}

/* CARD
   ----------------------------- */

.card {
  padding: var(--baseline);
  color: #666;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  background-color: #fff;
}

.card h3 a {
  color: #000;
  text-decoration: none;
}

.card h3 a:hover {
  text-decoration: underline;
}

.grid > ul {
  margin: 0;
  padding-left: 1em;
}

/* figure
   ----------------------------- */

figure.rounded {
  overflow: hidden;
  display: grid;
  align-items: center;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid var(--color-grey-verylight);
  object-fit: contain;
}

.rounded img {
  height: 100%;
  max-height: 1000em;
  object-fit: none;
}

/* mermaid
   ----------------------------- */

.mermaid {
  margin: 0 auto 1.5rem;
  max-width: 1400px;
  text-align: center;
}

.mermaid.meetings text {
  fill: black !important;
}

.mermaid svg {
  margin: auto;
  padding: 0 var(--baseline);
  max-width: 98%;
  background: #ffffff;
  border-radius: 4px;
}

/* Footer ETAT
   ----------------------------- */

#footerglobal {
  background-color: #ffffff;
  color: #0a0a0a;
  padding: 0;
  font-size: 0.9em;
  text-align: center;
  position: relative;
  z-index: 2;
}

#footerglobal a {
  color: #0a0a0a;
}

#footerglobal a:hover {
  color: #0a0a0a;
}

#footerglobal {
  background-color: #0a0a0a;
  color: #e6e6e6;
  margin-top: 30px;
}

#footerglobal h2,
#footerglobal h3 {
  color: #e6e6e6;
}

#footerglobal a,
#footerglobal a:hover {
  color: #e6e6e6;
}

#footerglobal {
  font-size: 90%;
  padding-top: 30px;
  padding-bottom: 0;
  text-align: left;
}

#footerglobal img {
  width: 30%;
}

#footerglobal ul.social-networks {
  margin-top: 2em;
}

ul.social-networks li a {
  display: inline-block;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border-radius: 1em;
  font-size: 1.5em;
  background-color: #e6e6e6;
  text-decoration: none;
  color: black;
  text-align: center;
  margin-right: 0.3em;
}


#footerglobal h2 {
  text-indent: -8888px;
  float: left;
}

#footerglobal .footer-col-sitename p {
  font-size: 1.1em;
  margin-bottom: 2em;
}

#footerglobal .footer-col-sitename p abbr {
  text-decoration: none !important;
}

#footerglobal .footer-col-sites {
  text-align: center;
  margin-top: 15px;
  font-size: 90%;
}

/* Task list for markdown checklist
   ----------------------------- */

.checkbox {
  margin-left: 1rem;
}

.checkbox+br {
  display: none;
}

.task-list {
  list-style-type: none;
}

/* Benchmark
   ----------------------------- */

.benchmark {
  margin: calc(var(--baseline) * 2) auto 0;
}

.benchmark:empty {
  display: none;
}

.benchmark > * {
  position: relative;
  flex-direction: column;
  padding-bottom: 2em;
  max-width: 70%;
  border: 1px solid var(--color-grey);
  background: #fff;
}

.benchnmark-name {
  position: absolute;
  bottom: 0;
  padding: 0 0.5em;
  width: 100%;
  display: grid;
  align-content: center;
  min-height: 3em;
  line-height: 1;
  font-size: var(--smaller);
  color: #fff;
  background: rgba(0,0,0,0.8);
}

.benchmark figure {
  padding: var(--baseline);
  text-align: center;
  background: #fff;
}

.benchmark img {
  margin: auto;
}

.sl-overlay {
  background: #000 !important;
}

.sl-close,
.sl-counter,
.sl-navigation button {
  font-size: 2rem !important;
  color: #fff !important;
}

hr {
  margin: var(--baseline) 0;
  background: none;
  border: none;
  width: auto;
  height: 0;
  border-top: 2px dotted var(--color-grey-light);
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
}

/* Counter & counter color
   ----------------------------- */


.critical > *:first-child {
  text-align: center;
  max-width: 30px;
}
.emoticon {
  display: inline-block;
  margin-right: 0.25rem;
  color: transparent;
  text-shadow: 0 0 0 #fff;
  vertical-align: middle;
}

.good.counter,
.dataset-0 rect {
  background: #307f5c;
  /*background-image: repeating-linear-gradient(70deg, transparent, transparent 10%, rgba(255,255,255,0.1) 10%, rgba(255,255,255,0.1) 10.5%);*/
  -webkit-mask-image: repeating-linear-gradient(70deg, #fff, #000 10%, rgba(0,0,0,0.9) 10%, rgba(0,0,0,0.9) 11%);
  mask-image: repeating-linear-gradient(70deg, #307f5c, #307f5c 10%, rgba(0,0,0,0.9) 10%, rgba(0,0,0,0.9) 11%);
}

.bad.counter,
.dataset-1 rect {
  background: #ac3636;
  /*background-image: repeating-linear-gradient(45deg, transparent, transparent 10%, rgba(255,255,255,0.1) 10%, rgba(255,255,255,0.1) 12%),repeating-linear-gradient(-45deg, transparent, transparent 10%, rgba(255,255,255,0.1) 10%, rgba(255,255,255,0.1) 12%);*/
  -webkit-mask-image: repeating-linear-gradient(-45deg, #ac3636, #ac3636 10%, rgba(255,255,255,0.9) 10%, rgba(255,255,255,0.9) 14%);
  mask-image: repeating-linear-gradient(-45deg, #ac3636, #ac3636 10%, rgba(255,255,255,0.9) 10%, rgba(255,255,255,0.9) 14%);
}

.medium.counter,
.dataset-1 rect {
  background: #d68100;
  /*background-image: repeating-linear-gradient(45deg, transparent, transparent 10%, rgba(255,255,255,0.1) 10%, rgba(255,255,255,0.1) 12%),repeating-linear-gradient(-45deg, transparent, transparent 10%, rgba(255,255,255,0.1) 10%, rgba(255,255,255,0.1) 12%);*/
  -webkit-mask-image: repeating-linear-gradient(-80deg, #dd9c0a, #dd9c0a 10%, rgba(255,255,255,0.9) 10%, rgba(255,255,255,0.9) 14%);
  mask-image: repeating-linear-gradient(-80deg, #dd9c0a, #dd9c0a 10%, rgba(255,255,255,0.9) 10%, rgba(255,255,255,0.9) 14%);
}

.verygood {
  background: #30d42a
}

.good {
  background: #307f5c;
}

.medium {
  background: #dd9c0a
}

.normal {
  background: hsl(var(--base-primary), var(--base-sat), 45%);
}

.none {
  background: #222;
}

.bad {
  background: #ac3636
}

.verybad {
  background: #510000
}


.scores {
  display: grid;
  overflow: hidden;
  align-items: stretch;
  margin: 0;
}

.scores+.scores {
  padding-top: 0
}

.scores ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 calc(var(--baseline) / -2);
  padding: 0;
}

.scores li {
  justify-content: space-around;
  min-width: 8rem;
  min-height: 5rem;
  display: grid;
  align-items: center;
  flex: 1;
  margin: 0 calc(var(--baseline) / 2) var(--baseline);
  list-style: none
}

.scores>* {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 1em 0;
}


.counter {
  display: inline-grid;
  align-items: center;
  padding: calc(var(--baseline) / 8) calc(var(--baseline) / 4);
  font-family: Futura;
  color: var(--color-grey-verylight);
  background: hsl(var(--base-primary), var(--base-sat), 35%);
  background-image: radial-gradient(rgba(255,255,255,0.1) 5%, transparent 10%);
  background-position: 0 0, 100px 100px;
  background-size: 20px 20px;
}

.badge {
  padding: 0.2em 0.3em;
  font-size: 0.5em;
  color: var(--color-grey-verylight);
  border-radius: 5px;
}

.dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: var(--color-primary-dark);
  border-radius: 50%;
  clip: rect(0 0 0 0);
  font-size: 0;
}

.dot-missed {
  background: var(--color-primary-light);
}

/* Graph
   ----------------------------- */

.graph {
  line-height: 1.2;
  padding: 0.5em;
  background: var(--color-grey-verylight);
  border: 2px solid var(--color-grey-light);
}

.graph h3 {
  margin-bottom: 0.5em;
}

.graph .flex div {
  --base-light: 35%;
  padding: 0.5em;
}

.graph-vis div {
  min-height: 4em;
  line-height: 1;
  font-size: var(--smaller)
}

.chart-container {
  background: #fff;
}




/* days */
.gantt h3 {
    grid-row: 1;
    margin: 0;
    padding: calc(var(--baseline) / 2) 0;
    text-align: center;
    color: var(--text-color);
    background: var(--background-color-body);
}

/* tasks */
.gantt div {
    margin: auto;
    padding: 10px 10px;
    max-width: 90%;
    font-size: 12px;
    text-align: center;
    color: white;
    border-radius: 20px;
}

@media only screen and (min-width: 960px) {
    .gantt {
        display: grid;
        grid-template-columns: [sept-start] 1fr [sept-middle] 1fr
        [sept-end oct-start] 1fr [oct-middle] 1fr
        [oct-end nov-start] 1fr [nov-middle] 1fr
        [nov-end dec-start] 1fr [dec-middle] 1fr
        [dec-end];
        grid-gap: 10px 0;
        margin: 0 auto;
        padding-top: 40px;
        width: 100%;
        max-width: 1150px;
    }

    .gantt div {
        margin: 0;
        max-width: 100%;
        font-size: 16px;
    }

    /* dividers */
    .gantt span {
        grid-row: 1 / span 10;
        border-left: 1px solid var(--text-color);
    }

    .gantt h3 {
        border-left: 1px solid var(--text-color);
    }

    [class$=mid] {
      grid-row: 1 / span 9;
    }

    h3.h-sept {
        grid-column: 1 / span 2;
    }
    h3.h-oct {
        grid-column: 3 / span 2;
    }
    h3.h-nov {
        grid-column: 5 / span 2;
    }
    h3.h-dec {
        grid-column: 7 / span 2;
    }

    span.d-1 {
        grid-column: 1;
    }
    span.d-1mid {
        grid-column: 2;
        border-color: var(--text-color);
        border-left-style: dashed;
    }
    span.d-2 {
        grid-column: 3;
    }
    span.d-2mid {
        grid-column: 4;
        border-color: var(--text-color);
        border-left-style: dashed;
    }
    span.d-3 {
        grid-column: 5;
    }
    span.d-3mid {
        grid-column: 6;
        border-color: var(--text-color);
        border-left-style: dashed;
    }
    span.d-4 {
        grid-column: 7;
    }
    span.d-4mid {
        grid-column: 8;
        border-color: var(--text-color);
        border-left-style: dashed;
    }
    span.d-5 {
        grid-column: 9;
    }
    span.d-5mid {
        grid-column: 10;
        border-color: var(--text-color);
        border-left-style: dashed;
    }
    span.d-6 {
        grid-column: 11;
    }
}
/* specific task styles */
.t-1 {
    grid-row: 2;
    background: #b03532;
}
.t-2 {
    grid-row: 3;
    background: #33a8a5;
}
.t-3 {
    grid-row: 4;
    background: #30997a;
}
.t-4 {
    grid-row: 5;
    background: #6a478f;
}
.t-5 {
    grid-row: 6;
    background: #da6f2b;
}
.t-6 {
    grid-row: 7;
    background: #3d8bb1;
}
.t-7 {
    grid-row: 8;
    background: #e03f3f;
}
.t-8 {
    grid-row: 9;
    background: #59a627;
}
.t-9 {
    grid-row: 10;
    background: #4464a1;
}


details {
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
details:last-of-type {
    border-bottom: none;
}
details summary {
    display: block;
    margin-bottom: 0;
    padding: 20px;
    font-weight: 600;
    user-select: none;
    transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
    transition-property: margin, background;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
}

details summary ~ * {
    padding-left: 30px;
}

details summary ~ ul {
    padding-left: 60px;
}

details summary:last-of-type {
    border-bottom: none;
}
details summary::-webkit-details-marker {
    display: none;
}

details summary:hover {
    cursor: pointer;
    background: #f6f8fb;
}

details[open] summary {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
