
  {{- $project := replace (replace (index (split .Path "/") 1) ".md" "") "_index" "" -}}
  {{- $context := . -}}

  <div class="wrapper narrow">

    {{- $.Scratch.Set "listmonths" slice -}}
    {{- range $id, $value := .Params.gantt -}}
      {{- range .time -}}
        {{- $.Scratch.Add "listmonths" (index (split . " ") 0) -}}
      {{- end -}}
    {{- end -}}


    {{- with uniq ($.Scratch.Get "listmonths") -}}
    <div class="hide">
    {{ $months := . }}
    <h2 class="text-center">Planning</h2>
    <div class="gantt" style="grid-template-columns: {{ mul (len .) 8 }};">
    {{- range $separator, $value := . -}}
        <span class="d-{{ add $separator 1 }}"></span>
        <span class="d-{{ add $separator 1 }}mid"></span>
        {{- $.Scratch.Set "counter" (add $separator 2) -}}
    {{- end -}}
      <span class="d-{{ $.Scratch.Get "counter" }}"></span>
    {{- range $separator, $value := . -}}
        <h3 class="h-" style="grid-column: {{ add (mul $separator 2) 1 }}/span 2">{{ . }}</h3>
        {{ $month := . }}
        {{- range $id, $value := $.Params.gantt -}}
          {{ if eq (index (split (index .time 0) " ") 0) $month }}
            {{- $start := index (split (index .time 0) " ") 0 -}}
            {{- $startpar := index (split (index .time 0) " ") 1 -}}
            {{- $end := index (split (index .time 1) " ") 0 -}}
            {{- $endpar := index (split (index .time 1) " ") 1 -}}
            {{- $.Scratch.Set "startmod" 0 -}}
            {{- $.Scratch.Set "endmod" 0 -}}
            {{- if eq $startpar "middle" -}}{{ $.Scratch.Set "startmod" 1 }}{{- end -}}
            {{- if eq $startpar "end" -}}{{ $.Scratch.Set "startmod" 2 }}{{- end -}}
            {{- if eq $endpar "middle" -}}{{ $.Scratch.Set "endmod" 1 }}{{- end -}}
            {{- if eq $endpar "end" -}}{{ $.Scratch.Set "endmod" 2 }}{{- end -}}
            {{- range $id, $value := $months -}}{{ if eq . $start }}{{ $.Scratch.Set "positionstart" $id }}{{- end -}}{{- end -}}
            {{- range $id, $value := $months -}}{{ if eq . $end }}{{ $.Scratch.Set "positionend" $id }}{{- end -}}{{- end -}}
            <div class="t-{{ add $id 1}}" style="grid-column: {{ add (add (mul ($.Scratch.Get "positionstart") 2) 1) ($.Scratch.Get "startmod") }} / {{ add (add (mul ($.Scratch.Get "positionend") 2) 1) ($.Scratch.Get "endmod") }};">{{ .name }}</div>
          {{- end -}}
        {{- end -}}
    {{- end -}}
    </div>
    </div>
    {{- end -}}

    {{- $.Scratch.Set "projectfolders" "/static" -}}
    {{- $.Scratch.Set "accessibility-path" false -}}
    {{/* test level of the page in file tree */}}
    {{- if eq (len (split .RelPermalink "/")) 4 -}}
    {{- $.Scratch.Set "projectfolders" (printf "/static/%s" $project) -}}
    {{- end -}}
    {{- $.Scratch.Set "accessibility-path" (index (partial "render/accessibility-lastfile.html" (dict "context" . "project" $project ".datafilename" .Params.datafilename)) "auditpath") -}}
    {{- $.Scratch.Set "allauditscsv" (index (partial "render/accessibility-lastfile.html" (dict "context" . "project" $project ".datafilename" .Params.datafilename)) "auditall") -}}
    {{- $.Scratch.Set "allauditsname" (index (partial "render/accessibility-lastfile.html" (dict "context" . "project" $project ".datafilename" .Params.datafilename)) "auditallname") -}}
    {{- $accessibility := fileExists ($.Scratch.Get "accessibility-path") }}
    {{- $quality       := (fileExists (printf "%s/quality/" ($.Scratch.Get "projectfolders"))) -}}
    {{- $lighthouse    := (fileExists (printf "%s/lighthouse/" ($.Scratch.Get "projectfolders"))) -}}
    {{- if ($.Scratch.Get "projectfolders") -}}
    {{- if or $accessibility $quality $lighthouse -}}
    <h2 class="text-center">Scores</h2>
    {{- if $accessibility -}}
    {{- $.Scratch.Set "render" slice -}}
    {{- with ($.Scratch.Get "allauditscsv") -}}
      {{- range $id, $value := . -}}{{- ($.Scratch.Add "render" (slice (partial "render/conformity" (dict "context" $context "auditfile" (getCSV "," .))))) -}}{{- end -}}
    {{- end -}}
    <h3 class="m-0">Accessibilité {{ $pageauditpath := (printf "/content/audits/%s/accessibility.md" ($project | anchorize)) }}{{- if (fileExists $pageauditpath) -}}<small>- <a href="{{ replace (replace (replace $pageauditpath ".md" "/") "/content" "") "//" "/" }}">Accéder au rapport</a></small>{{- end -}}</h3>
    {{- $partial := (partial "render/conformity" (dict "context" . "auditfile" ((getCSV "," ($.Scratch.Get "accessibility-path") )))) -}}
    {{ if $partial }}
      {{- $conforme := index $partial "critereconformepercent" -}}
      {{- partial "components/scores/accessibility" (dict "context" . "score" $conforme) -}}
    {{- else -}}
      <p>Le fichier d’audit est vide.</p>
    {{- end -}}
    {{/* Display conformity in time */}}
    {{- with ($.Scratch.Get "render") -}}
    {{- if gt (len .) 1 -}}
    <div id="chartconformity"></div>
    <script>
        const dataconformity = {
            labels: [{{- range $id, $value := ($.Scratch.Get "allauditsname") -}}{{ if ne $id "1" }},{{ end }}"{{- $value -}}"{{- end -}}],
            datasets: [
              {
                name: "Conformité",
                values: [{{- range $id, $value := . -}}{{ if ne $id 0 }},{{ end }}"{{- index . "critereconformepercent" -}}"{{- end -}}]
              }
            ],
            yRegions: [{ label: "", start: 0, end: 100 }]
        }
        const chartconformity = new frappe.Chart("#chartconformity", {
            title: "Taux de conformité dans le temps (en %)",
            data: dataconformity,
            type: 'line', // or 'bar', 'line', 'scatter', 'pie', 'percentage'
            height: 400,
            lineOptions: {
                regionFill: 1 // default: 0
            },
            truncateLegends: true,
            barOptions: {
                stacked: 1,
                spaceRatio: 0.2
            },
            colors: ['#ac3636','#96cfb7']
        })
    </script>
    {{- end -}}
    {{- end -}}
    {{- end -}}

    {{- if $quality -}}
    <h3 class="m-0">Qualité {{ $pageauditpath := (printf "/content/audits/%s/quality.md" $project) }}{{- if (fileExists $pageauditpath) -}}<small>- <a href="{{ replace (replace (replace $pageauditpath ".md" "/") "/content" "/") "//" "/" }}">Accéder au rapport</a></small>{{- end -}}</h3>
    {{- partial "components/scores/quality" (dict "context" . "counter" (partial "render/quality" (dict "context" . "project" $project))) -}}
    {{- end -}}

    {{- if $lighthouse -}}
    <h3 class="m-0">Performance (3G) {{ $pageauditpath := (printf "/content/audits/%s/performance.md" $project) }}{{- if (fileExists $pageauditpath) -}}<small>- <a href="{{ replace (replace (replace $pageauditpath ".md" "/") "/content" "") "//" "/" }}">Accéder au rapport</a></small>{{- end -}}</h3>
    {{- partial "components/scores/performance" (dict "context" . "project" $project) -}}
    {{- end -}}

    {{/*
    <section>
      {{ partial "components/quality/critical.html" (dict "context" . "project" $project) }}
    </section>
    */}}

    {{- else -}}
    <p class="text-center">Aucun audit pour le moment</p>
    {{- end -}}
    {{- end -}}
  </div>

  {{- partial "components/phases/template.html" (dict "context" . "type" "dark") -}}
  {{- partial "list.html" (dict "context" . "section" "meetings") -}}
  {{- partial "list.html" (dict "context" . "section" "actions" "type" "dark") -}}

{{ partial "elements/content.html" .Content }}
