{{- $project := .project -}}
{{- $.context.Scratch.Delete "pagesstatus-critical" -}}
{{- $.context.Scratch.Set "lastfile-critical" (partial "render/quality-lastfile.html" (dict "context" .context "project" $project )) -}}

{{- $.context.Scratch.Set "delivery" slice -}}
{{- $.context.Scratch.Set "pagesdelivery" slice -}}
{{- range ($.context.Scratch.Get "lastfile-critical") -}}
{{- range $idpage, $s := .pages -}}
  {{- $page := dict "pagename" .name -}}
  {{- range $idblock, $s := .blocks -}}
  {{- range $iderror, $s:= .errors -}}
    {{ $id := (printf "%s%s%s" (string $idpage) (string $idblock) (string $iderror)) }}
    {{- if .status -}}
    {{- $s := merge $s $page -}}
    {{- $.context.Scratch.SetInMap "pagesstatus-critical" (string $id) $s -}}
    {{- end -}}
  {{- end -}}
  {{- end -}}
{{- end -}}
{{- end -}}

{{- with $.context.Scratch.Get "pagesstatus-critical" -}}
<h3>Erreurs par criticité</h3>
<table class="text-left">
  <thead><tr><th>Intitulé</th><th class="text-center" style="width: 100px;">Page</th><th class="text-center" style="width: 100px;">Type</th><th class="text-center" style="width: 120px;">Criticité</th></tr></thead>
  <tbody>
  {{- range $key, $value := sort . "status" "asc" -}}
    <h3 hidden>{{ if $value }}{{ $key | humanize }}{{ end }}</h3>
      <tr>
        <td>#{{ add $key 1 }}{{ if .checked }} ✅ {{ else }} ❌ {{ end }}&nbsp;- <a href="/audits/{{ $project }}/quality#{{ .name | urlize }}">{{ .name }}</a></td>
        <td class="text-center">{{ if .pagename }}{{ .pagename }}{{ end }}</td>
        <td class="text-center">{{ .type }}</td>
        <td class="critical{{ if eq .status "critique" }} bad{{ else if eq .status "important" }} medium{{ else if eq .status "moindre" }} normal{{ else }} none{{ end }}">
          <span class="emoticon">{{ if eq .status "critique" }}🚫 {{ else if eq .status "important" }}❗️ {{ else if eq .status "moindre" }}➰ {{ else }}❓ {{ end }}</span>
          <strong class="text-color-light">{{ .status }}{{ if not .status }}Aucune{{ end }}</strong>
        </td>
      </tr>
  {{- end -}}
  </tbody>
</table>
{{- end -}}
