{{- define "title" -}}Audit Qualité {{ (index (split .Path "/") 1) }}{{- end -}}
{{- define "main" -}}
{{/* Var */}}
{{- $patharray :=  split .Path "/" -}}
{{- $project :=  (index $patharray 1) -}}
{{- $.Scratch.Set "pathimage" "" }}

{{/* Condition about structure level */}}
{{- if eq (len $patharray) 3 -}}
  {{- $.Scratch.Set "pathimage" (printf "./static/images/%s/quality/" $project) }}
{{- else -}}
  {{- $.Scratch.Set "pathimage" "./static/images/quality/" }}
{{- end -}}

{{- $.Scratch.Set "auditfile" (partial "render/quality-lastfile.html" (dict "context" . "project" $project ".datafilename" .Params.datafilename)) -}}

<div class="wrapper audit">
{{- if eq (len (split .Path "/")) 3 -}}
  <p class="no-print">⬅ <a href="/projects/{{ $project }}/" class="link-more link-back">Retour à la page {{ $project }}</a></p>
{{- end -}}
<h1>{{ .Title }} <small>{{ if .Params.tags }}{{ range .Params.tags }}pour <a href="/tags/{{ . }}">{{ . }}</a>{{ end }}{{ end }}</small></h1>
{{- if gt (len .Content) 10 -}}
<div class="note">
{{- partial "elements/content.html" .Content -}}
</div>
{{- end -}}
{{/* Condition about structure level */}}
{{- if eq (len $patharray) 3 -}}
  {{- partial "components/scores/quality" (dict "context" . "counter" (partial "render/quality" (dict "context" . "project" $project))) -}}
{{- end -}}

<h2 class="page-break">Erreurs à corriger</h2>
{{- partial "components/quality/lot.html" (dict "context" . "project" $project "datafilename" .Params.datafilename) -}}
{{- partial "components/quality/critical.html" (dict "context" . "project" $project "datafilename" .Params.datafilename) -}}

<hr class="divider">

{{/* Create a anchors menu */}}
<div class="tableofcontents page-break">
<h2>Accéder aux pages auditées</h2>
  <ul>
  {{- range ($.Scratch.Get "auditfile") -}}
    {{- range .pages -}}
      <li><a href="#{{ .name | urlize }}">{{ .name }}</a></li>
    {{- end -}}
  {{- end -}}
  </ul>
</div>

<h2>Liste des pages auditées</h2>
{{/* Range the quality file */}}
{{- range ($.Scratch.Get "auditfile") -}}
  {{/* Range first level */}}
  {{- range $idpage, $s := .pages -}}
    {{- $name := .name -}}
    {{- $.Scratch.Set "countererrorspage" 0 -}}
    {{/* Range second level */}}
    {{- range $idblock, $b := .blocks -}}
      {{/* Range third level and count errors */}}
      {{- if .errors -}}
      {{- range $s:= .errors -}}
        {{- $.Scratch.Add "countererrorspage" 1 -}}
        {{- $.Scratch.SetInMap "countererrorspagelist" (string $idpage) ($.Scratch.Get "countererrorspage") -}}
      {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- range ($.Scratch.Get "auditfile") -}}
  {{/* Range first level */}}
  {{- range $idpage, $s := .pages -}}
    {{- $name := .name -}}
    {{/* Range second level */}}
    <h3 id="{{ .name | urlize }}">{{ $name }} <small>- <span class="counter">{{ index ($.Scratch.Get "countererrorspagelist") (string $idpage) }}</span> erreurs recensées sur cette page</small></h3>
    {{- range $idblock, $b := .blocks -}}
      {{- $.Scratch.Set "countererrorsblock" 0 -}}
      {{/* Range third level and count errors */}}
      {{- if .errors -}}
      {{- range $s:= .errors -}}
        {{- $.Scratch.Add "countererrorsblock" 1 -}}
        {{- $.Scratch.SetInMap "countererrorsblocklist" (string $idblock) ($.Scratch.Get "countererrorsblock") -}}
      {{- end -}}
      {{- end -}}
      {{- if .url -}}<p>URL : <a href="{{ .url }}">{{ .url }}</a></p>{{- end -}}
      {{- $.Scratch.Set "fileexist" false -}}
      {{- if (fileExists ($.Scratch.Get "pathimage")) -}}
        {{ range (readDir ($.Scratch.Get "pathimage")) }}{{- if eq (replace (.Name) ".png" "") ($name  | urlize) -}}{{- $.Scratch.Set "fileexist" true -}}{{ end }}{{ end }}
      {{- end -}}
      {{- if $.Scratch.Get "fileexist" -}}
      <div class="benchmark grid grid-center lightbox-{{ $idpage }}">
        {{ $.Scratch.Set "isAfter" 0 }}
        {{- range (readDir ($.Scratch.Get "pathimage")) -}}{{- if eq (replace (.Name) ".png" "") ((replace $name ".png" "-after.png")  | urlize) -}}{{ $.Scratch.Set "isAfter" 1 }}{{- end -}}{{- end -}}
        {{- range (readDir ($.Scratch.Get "pathimage")) -}}
          {{- if eq (replace (.Name) ".png" "") ($name  | urlize) -}}
          <div class="flex flex-column"><figure class="flex flex-max" id="{{ .Name }}"><a href="/images/{{- if eq (len $patharray) 3 -}}{{ $project }}/{{ end }}quality/{{ .Name }}" cfmodified="modified"><img src="/images/{{- if eq (len $patharray) 3 -}}{{ $project }}/{{ end }}quality/{{ .Name }}" alt="" class="align-items-center"></a></figure><div class="benchnmark-name">{{ if eq ($.Scratch.Get "isAfter") 1 }}Actuel -{{ end }} {{ $name }}</div></div>
          {{- end -}}
        {{- end -}}
        {{- range (readDir ($.Scratch.Get "pathimage")) -}}
          {{- if eq (.Name) ((printf "%s-after.png" $name)  | urlize) -}}
          <div class="flex flex-column"><figure class="flex flex-max" id="{{ .Name }}"><a href="/images/{{- if eq (len $patharray) 3 -}}{{ $project }}/{{ end }}quality/{{ .Name }}" cfmodified="modified"><img src="/images/{{- if eq (len $patharray) 3 -}}{{ $project }}/{{ end }}quality/{{ .Name }}" alt="" class="align-items-center"></a></figure><div class="benchnmark-name">Après - {{ $name }}</div></div>
          {{- end -}}
        {{- end -}}
      </div>
      {{- end -}}
    {{- $.Scratch.Set "paths" slice -}}
    {{/* Range second level */}}

      {{- $.Scratch.Set "index" slice -}}
      <h4>{{ $b.name }} <small>- <span class="counter">{{ index ($.Scratch.Get "countererrorsblocklist") (string $idblock) }}</span> erreurs recensées sur ce bloc</small></h4>
      {{/* Range third level */}}
      {{- range $s := .errors -}}
        {{- $path := .name -}}
        {{- $filename := printf "%s-%s-%s.png" ($name | urlize) ($b.name | urlize) (.name | urlize) -}}
        {{/* Create an array for the images slider with screen capture */}}
        {{- $.Scratch.Add "index" (slice $path) -}}
        <dl>
          <dt id="{{ .name | urlize }}">{{ if .checked }}☒ {{ else }}☐ {{ end }}{{ .name }}
            {{- $.Scratch.Set "fileexist" false -}}
            {{- if (fileExists ($.Scratch.Get "pathimage")) -}}
              {{ range (readDir ($.Scratch.Get "pathimage")) }}{{ if in (string .Name) (string $filename) }}{{- $.Scratch.Set "fileexist" true -}}{{ end }}{{ end }}
            {{- end -}}
            <small class="no-print">
              {{- if eq (getenv "HUGO_ENV") "production" | or (eq .Site.Params.env "production") -}}
                {{- if $.Scratch.Get "fileexist" -}}
                &nbsp-&nbsp;<a href="#{{ $filename }}">Accéder à la capture écran</a>
                {{- end -}}
              {{ else }}
                &nbsp-&nbsp;
                {{- if $.Scratch.Get "fileexist" -}}
                <a href="#{{ $filename }}">{{ $filename }}</a>
                {{- else -}}
                {{ $filename }}
                {{- end -}}
              {{- end -}}
              {{ with .status }}&nbsp;<span class="badge{{ if eq . "critique" }} bad{{ end }}{{ if eq . "important" }} medium{{ end }}{{ if eq . "moindre" }} normal{{ end }}">{{ . }}</span>{{ end }}
            </small>
          </dt>
          {{- if .description -}}
            <dd>{{ .description | markdownify | safeHTML }}</dd>
          {{- end -}}
          {{- if .criterion -}}
            {{- if not (eq (slicestr .criterion 0 2) "ER") -}}
            <dd>Critère : <a href="/criteres/#{{ replace .criterion "." "-" }}">{{ .criterion | safeHTML }}</a> du RGAA4</dd>
            {{- else -}}
            <dd>Critère : <a href="https://pidila.gitlab.io/amoa/evaluation-rapide.html">{{ .criterion | safeHTML }}</a> de l’évaluation rapide PIDILA</dd>
            {{- end -}}
          {{- end -}}
        </dl>
        {{ if or .codebefore .codeafter }}
          <div class="audit-code">
            {{ if .codebefore }}<h5 class="mb-0">Code présent</h5><pre class="language-html"><code>{{ .codebefore | htmlUnescape }}</code></pre>{{ end }}
            {{ if .codeafter }}<h5 class="mb-0">Code modifié</h5><pre class="language-html"><code>{{ .codeafter | htmlUnescape }}</code></pre>{{ end }}
            <br>
          </div>
        {{- end -}}
        {{- if $.Scratch.Get "fileexist" -}}
          <div class="benchmark grid grid-4 lightbox-{{ $idpage }}-{{ $idblock }}">
            {{ $.Scratch.Set "isAfter" 0 }}
            {{- range (readDir ($.Scratch.Get "pathimage")) -}}{{- if in (string .Name) (string (replace $filename ".png" "-after.png")) -}}{{ $.Scratch.Set "isAfter" 1 }}{{- end -}}{{- end -}}
            {{- range (readDir ($.Scratch.Get "pathimage")) -}}
              {{- if in (string .Name) (string $filename) -}}
              <div class="flex flex-column"><figure class="flex flex-max" id="{{ .Name }}"><a href="/images/{{- if eq (len $patharray) 3 -}}{{ $project }}/{{ end }}quality/{{ .Name }}" cfmodified="modified"><img src="/images/{{- if eq (len $patharray) 3 -}}{{ $project }}/{{ end }}quality/{{ .Name }}" alt="" class="align-items-center"></a></figure><div class="benchnmark-name">{{ if eq ($.Scratch.Get "isAfter") 1 }}Actuel - {{ end }}{{ $path }}</div></div>
              {{- end -}}
            {{- end -}}
            {{- range (readDir ($.Scratch.Get "pathimage")) -}}
              {{- if in (string .Name) (string (replace $filename ".png" "-after.png")) -}}
              <div class="flex flex-column"><figure class="flex flex-max" id="{{ .Name }}"><a href="/images/{{- if eq (len $patharray) 3 -}}{{ $project }}/{{ end }}quality/{{ .Name }}" cfmodified="modified"><img src="/images/{{- if eq (len $patharray) 3 -}}{{ $project }}/{{ end }}quality/{{ .Name }}" alt="" class="align-items-center"></a></figure><div class="benchnmark-name">Après - {{ $path }}</div></div>
              {{- end -}}
            {{- end -}}
          </div>
        {{- end -}}
      {{- end -}}{{/* Range second level */}}
      <div class="benchmark grid grid-4 lightbox-{{ $idpage }}-{{ $idblock }}-1*/}} d-none">{{/* Range errors name */}}{{- range $errorname := ($.Scratch.Get "index") -}}{{- $filename := printf "%s-%s-%s" ($name | urlize) ($b.name | urlize) (. | urlize) -}}{{- if (fileExists ($.Scratch.Get "pathimage")) -}}{{- range (readDir ($.Scratch.Get "pathimage")) -}}{{- if in (string .Name) (string $filename) -}}<div class="flex flex-column"><figure class="flex flex-max"><a href="/images/{{- if eq (len $patharray) 3 -}}{{ $project }}/{{ end }}quality/{{ .Name }}" cfmodified="modified"><img src="/images/{{- if eq (len $patharray) 3 -}}{{ $project }}/{{ end }}quality/{{ .Name }}" alt="" class="align-items-center"></a></figure><div class="benchnmark-name" id="{{ .Name }}">{{ $errorname }}</div></div>{{- end -}}{{- end -}}{{- end -}}{{- end -}}{{/* Range errors name */}}</div>
  {{- end -}}{{/* Range first level */}}
  <hr>
{{- end -}}{{/* Range the quality file */}}
</div>
{{- end -}}
{{- end -}}

{{- define "script" -}}
<link rel="stylesheet" href="/assets/css/simple-lightbox.min.css" />
<link rel="stylesheet" href="/assets/css/night-owl.min.css" />
<script src="/assets/js/simple-lightbox.min.js"></script>
{{- range ($.Scratch.Get "auditfile") -}}
  {{- range $idpage, $p := .pages -}}
  {{- $name := .name -}}
  <script>
    var {{ printf "$%s%s" (replace ( $name | anchorize) "-" "") ($idpage | anchorize) | safeJS }} = new SimpleLightbox('.lightbox-{{ $idpage }} figure a', {captionPosition:'bottom',loop: 'false'});
    {{- range $idblock,$b := .blocks -}}
    var {{ printf "$%s%s%s%s" (replace ( $name | anchorize) "-" "") (replace ( $b.name | anchorize ) "-" "") ($idpage | anchorize) ($idblock | anchorize) | safeJS }} = new SimpleLightbox('.lightbox-{{ $idpage }}-{{ $idblock }} figure a', {captionPosition:'bottom',loop: 'false'});
    {{- end -}}
  </script>
  {{- end -}}
{{- end -}}
<script src="/assets/js/highlight.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
  document.querySelectorAll('pre code').forEach((block) => {
    hljs.highlightBlock(block);
  });
});
</script>
{{- end -}}
